header {
    display: flex;
}

header h1 {
    text-align: center;
    width: 100%;
}

#close-cart {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}