*{
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

#close-cart {
    align-items: center;
    display: flex;
}

section p {
    text-align: center;
}


article {
    background-color: #f0f0f0;
    border-radius: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2% 2%;
    width: 96%;
}

.product-images {
    border-right: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-images img {
    border-radius: 5%;
    max-height: 80%;
    max-width: 80%;
}

.product-information {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

div h3, p {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.quantity-buttons {
    background-color: rgb(220, 220, 220);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em auto;
    align-items: center;
    padding: 0.8em 1em;
    width: 70%;

}

.product-quantity, .value-button {
    display: flex;
    justify-content: center;
    width: 25%;
}

.value-button img {
    height: 80%;
    max-height: 13px;
    max-width: 13px;
    min-height: 10px;
    min-width: 10px;
    width: 80%;
}

.product-quantity {
    border: none;
    padding: 0;
    text-align: center;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.1em;
}

/* Hides the arrows for input */
.product-quantity::-webkit-outer-spin-button,
.product-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#comments-section {
    display: none;
    margin: 2% auto 2%;
    width: 80%;
}

#comments-section h3 {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

#comments-section textarea {
    margin-bottom: 2%;
    width: 100%;
}


#cart-summary {
    display: flex;
    justify-content: center;
}

caption {
    font-size: 2em;
    font-weight: bold;
}

table {
    width: 90%;
}

.col1, caption {
    text-align: left;
    line-height: 2em;
}

.col2, #col-total-price {
    text-align: right;
}


table, tfoot td {
    border-collapse: collapse;
    border: none;
    padding: 0;
}

tfoot {
    border-top: 2px solid black;
    line-height: 2em;
}

#cart-wrapper {
    display: flex;
    flex-direction: column;
}

#delivery-wrapper {
    display: flex;
    justify-content: space-around;
}

#delivery-wrapper div {
    display: inline;
}

.pickadate {
    margin-bottom: 2%;
    margin-top: 1%;
    width: 100%;
}

#page-bottom {
    background-color: white;
    border-top: #F6F6F6 solid;
    box-sizing: border-box;
    width: 100%;
}

#date-time-deliver-label {
    display: block;
    margin-top: 3%;
}

#date-error {
    color: red;
}

#delivery-type {
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
}

#delivery-wrapper div {
    margin-bottom: 2%;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 2em;
}

#edit-cart, #checkout-button {
    padding: 0.7em 0.5em;
    margin-top: 1em;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    border: none;

    color: white;
    cursor: pointer;
}

#edit-cart {
    background-color: #F8AA55;
}


#checkout-button {
    background-color: green;

}
tbody td {
    vertical-align: center;
    font-size: 0.9em;
}

#cart-summary table tfoot {
    display: none;
}

.product-description {
    display: none;
}

@media screen and (min-width: 769px) { /* For devices bigger than tablets*/

    #cart-wrapper {
        display: flex;
        flex-direction: row;
    }

    #left-panel {
        width: 50%;
        height: 90vh;
        overflow-y: scroll;
        margin-top: 80px;
    }

    #page-bottom {
        border-left: #F6F6F6 solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        margin-top: 80px;
    }
    
    tbody td {
        font-size: 1em;
    }  
    
    article {
        margin: 2% auto;
        width: 70%;
    }

    table {
        width: 50%;
    }

    .product-description {
        display: block;
    }


}

