* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

#homeButton {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.menu {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 80%;
    margin: auto;
}

section {
    width: 20em;
    padding: 10px;
    text-align: center;
    margin-bottom: 1em;
}

img {
    border-radius: 5px 5px 0 0;
}

.addToCartButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.addToCartButton:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#goToCartButton {
    background-color: #008CBA;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#goToCartButton:hover {
    background-color: #006080;
}

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Yeni eklenen satır: Diğer öğeleri ortalamak için */
}

.quantity-buttons {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0.7em;
    background-color: rgb(220, 220, 220);

}

.value-button {
    padding: 0.2em 0;
}

.value-button img {
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
}

.item-count {
    border: none;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    width: 3em;
    background-color: rgb(220, 220, 220);
}

.item-count:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.details-container {
    padding: 1em;
    display: flex;
    flex-direction: column;

}

.details-wrapper {
    height: 150px;
}

.in-dec {
    display: flex;
    justify-content: space-evenly;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

#search-product {
    background-image: url('../img/icons/lookup-icon.svg');
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 20px;
    padding: 1em 0.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
    margin: 1em auto;
    display: block;
}

#search-product {
    margin-top: 80px;
}

.ui-tabs {
    position: initial; 
    padding: 0.2em;
}

.ui-tabs-tab {
    font-weight: bold !important;
}

.ui-tabs .ui-tabs-nav {
    display: flex;
    justify-content: space-evenly;
}

.ui-tabs .ui-tabs-nav li {
    float: initial; 
    position: initial; 
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: none; 
    background: none; 
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    color: black;
    border-bottom: 1px solid black;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none; 
    background: none; 
}

.ui-widget-header {
    border: none; 
    background: none; 
}

@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
}