
/* Assume a mobile-first approach */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Profile-top styles */
.profile-top {  
  position: relative;
  background-image: url('../img/burger-background.jpg');
  background-size: cover;
  background-position: center; 
  height: 300px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: #fff; 
  text-align: center;
  z-index: -1;
}

.profile-background h1 {
  position: absolute;
  color: white;
  top: 20px; 
  left: 20px;
}

.profile-picture {
  position: absolute; 
  bottom: -65px; 
  left: 50%; 
  transform: translateX(-50%); 
}

.profile-picture img {
  width: 150px; 
  height: 150px; 
  border: 5px solid white; 
  border-radius: 50%; 
  background-color: #fff;
}

/* ------------------------ */

/* Mid-section styles */
.mid-section {
  padding: 20px;
  text-align: center;
  margin-top: 35px;
}

.name-container {
  margin-bottom: 20px;
}

.details-container {
  text-align: 0;
}

.details-container p {
   margin: 5px 0;
}

/* ------------------------ */

/* Edit Account Styles */

.profile-buttons {
  position: relative; 
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0; 
  padding: 10px;
  width: 90%;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

/* Button styles */
.profile-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: brown;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

/*style for the button container */
.button-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

/* Adjustments for button and label positioning */
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

.button-wrapper .button-label {
  color: #555;
  font-size: x-large;
  margin-left: 15px;
}


.button-logout{
  filter: invert(0%) sepia(0%) saturate(7493%) hue-rotate(246deg) brightness(94%) contrast(100%);
  width: 20px;
  height: 20px;
}

.profile-buttons button:hover {
  transform: scale(1.1);
}

/* Accordion Forms */
.edit-account-form,
.edit-wallet-form {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.edit-account-form label,
.edit-account-form input,
.edit-account-form textarea,
.edit-account-form button,
.edit-wallet-form label,
.edit-wallet-form input,
.edit-wallet-form textarea,
.edit-wallet-form button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.edit-account-form button,
.edit-wallet-form button {
  padding: 10px 20px;
  background-color: burlywood;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-account-form button:hover,
.edit-wallet-form button:hover {
  background-color: burlywood;
  padding: 10px;
  border: 1px solid #ccc;
}

label {
  background-color: brown;
  color: white;
}

/* ---------------- MEDIA QUERIES --------------- */

/* Media query for larger screens */
@media screen and (min-width: 768px) {

  .mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: calc(100vh - 100px);*/
  }

  .profile-buttons {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100vh - 250px);
    width: 60%;
  }

  
}